.app__card{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    @media screen and (max-width: 400px){
        width: 80%;
        margin: auto;
    }
    h1{
        font-size: 20px;
        margin-bottom: -0.2rem;
        color: var(--White);
    }
    p{
        font-size: 18px;
        color: var(--Soft-blue);
        font-weight: 300;
    }
    hr{
        width: 100%;
        height: 2px;
        background-color: var(--line-color);
        border: none;
    }
}

.app__card-image{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        border-radius: 0.5rem;
    }
    &:hover .view{
        visibility: visible;
    }
}

.app__card-price{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: -0.8rem;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
            margin-right: 0.5rem;
        }
        #eth{
            color: var(--Cyan);
        }
    }
}

.app__card-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    img{
        width: 10%;
        margin-right: .5rem;
        border: 1px solid var(--White);
        border-radius: 50%;
    }
    p{
        span{
            color: var(--White);
        }
        
    }
}

.view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    border-radius: 0.5rem;
    img{
        width: 30px;
    }
}